@import "footer.css";
@import "header.css";
@import "animation.css";
@import "sideNavBar.css";

/*main flex container styles*/
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1%;
    align-items: center;
    position: relative;
    bottom: 30px;
}

/*body items*/

.OffersAndWhyBookWithUsAndGallery{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.offers:hover, .whyBookWithUs:hover, .gallery:hover{
    box-shadow: 0px 4px 0px black;
}
.description:hover, .mainImage:hover{
    box-shadow: 4px 4px 4px black;
}
.offers, .whyBookWithUs, .gallery{
    border: 2px 2px 2px black;
}
.OffersAndWhyBookWithUsAndGallery{
    opacity: 0;
    animation-name: slide;
    animation-duration: 1s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.mainImage, .description, .offers, .whyBookWithUs, .gallery, .gallerycontent{
    display: flex;
    background-color: white;
    color: black;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
    width: 100%;
    align-items: center;
    max-width: 96%;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.description{
    opacity: 0;
    animation-name: slide;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}
.gallerycontent{
    flex-direction: row;
    flex-wrap: nowrap;
}
.mainImage{
    padding: 0;
    margin-top: 0;
    opacity: 0;
    animation-name: slide;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}
.mainimg, .gallerycover{
    width: 100%;
}
.description, .whyBookWithUs{
    text-align: justify;
}
.gallerycontent{
    box-shadow: none;
}
.OffersAndWhyBookWithUsAndGallery{
    opacity: 0;
    animation-name: slide;
    animation-duration: 2s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}
.offersh4{
    text-align: center;
}
.whyus{
    width: 35px;
    height: 35px;
}
.footer{
    opacity: 0;
    animation-name: header-slide;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
 
@media screen and (max-width: 768px) {
    /*body items*/
    .mainImage, .description, .offers, .whyBookWithUs, .gallery, .gallerycontent{
        display: flex;
        background-color: white;
        color: black;
        box-shadow: 2px 2px 5px gray;
        flex-direction: column;
        padding-left: 2%;
        padding-right: 2%;
        margin-top: 2%;
        width: 100%;
        align-items: center;
        max-width: 96%;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .mainImage:hover, .description:hover, .offers:hover, .whyBookWithUs:hover, .gallery:hover{
        box-shadow: 4px 4px 4px black;
    }
    .mainImage{
        padding: 0;
    }
    .mainimg, .gallerycover{
        width: 100%;
        align-content: center;
    }
    .description{
        text-align: justify;
    }
    .OffersAndWhyBookWithUsAndGallery{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        width: 100%;
    }
    .offers{
        animation-name: slide;
        animation-duration: 2s;
        animation-delay: 2.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
    }
    .whyBookWithUs{
        text-align: center;
        opacity: 0;
        animation-name: slide;
        animation-duration: 2s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
    }
    .gallery{
        opacity: 0;
        animation-name: slide;
        animation-duration: 2s;
        animation-delay: 3.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
    }
    .gallerycontent{
        box-shadow: none;
    }
    .offersh4{
        text-align: center;
    }
    .whyus{
        width: 35px;
        height: 35px;
    }
    .footer{
        opacity: 0;
        animation-name: header-slide;
        animation-duration: 2s;
        animation-delay: 4s;
        animation-fill-mode: forwards;
    }
}